
  
.jobpartdesign
{
    margin-top: 30px;

}



/*

  h1 {
    font-weight: 900;
    font-size: 500%;
    text-align: center;
  
    color: #fff;
    line-height: 1.2;
  }
  */
  .propstitle
  {
    font-size:100%;
 
  }
 .ddd {
    padding-left: 600px;
    margin-top: -10px;
   
  }
  
  .dictionary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem auto;
    max-width: 90%;
    

 
  }
  
  .dictionary > .term {
    text-align: center;
    max-width: 20rem;
    margin-bottom: 0.5rem;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
   /* background-color: #fff;*/
    transition: all 100ms ease-in-out;
    background: url('../../assets/bac7.jpg') no-repeat center center/cover;

   /*
      overflow-y: scroll;
      scrollbar-color: rebeccapurple green;
      scrollbar-width: thin;*/
    }





  
  .dictionary > .term > dt {
    margin-bottom: 1rem;
  }
  
  dt {
    color:#5651e5;
    line-height: 1;
  }
  
  dt span {
    font-size: 200%;
    font-weight: 900;
  }
  
  .emoji {
    margin: 0 auto 20px;
    display: block;
    font-size: 400%;
  }
  
  dd {
    font-size: 92.5%;
    margin-left: 0;
  }
  .btn2
  {
    margin-left: 1200px;
    margin-top:0px;
    margin-bottom: 30px;
    width: 70px;
    border:0;
    background-color: skyblue;

   
  }
  
  dd dt {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: inherit;
  }
  
  dd dl {
    font-size: 90%;
    margin: 1rem auto 0 auto;
    letter-spacing: 0.33px;
    max-width: 15rem;
  }
  
  dd dl .term {
    margin-bottom: 1rem;
  }
  .btn-postuler
  {
    margin-top:30px;
    width:80px;
    height: 40px;
    /*background: url('../../assets/bac34.jpg') no-repeat center center/cover;*/
    background-color:lightgrey;
    border:0px;
  }
  
#SettingScrole {
  overflow: scroll;
}