
.containerPostuler

{
    margin-top: 100px;
    width :90%;
    height:400px;

    display: flex;
    justify-content: space-between;
/*background-color: rgb(49, 56, 65);*/
/*background-color:  rgb(149, 164, 184);*/
background-color:  rgb(219, 214, 182);
    margin-left: 75px;
    margin-right:30px;
    border-radius: 0%;
    margin-bottom: 300px;
}




.design-postuler
{
    width:40%;
    height:80%;
    margin-left: 80px;
    margin-right: 10px;
 border: rgb(109, 122, 160) solid 10px;
 background-color: lightsteelblue;
 
    margin-top: 60px;

}
.imgPostuler
{
  
    width: 40%;
}
.formpostuler
{
    font-weight: bolder;
    
}
#post1
{
    margin-bottom: 30px;
}
#post2
{
    margin-bottom: 20px;
    margin-top: 10px;
}
.imp
{
    margin-top: 100px;
    margin-left: 100px;
}
.inputpostuler
{
   
  
    cursor: pointer;
    border-radius: 5px;
  
    font-size: 16px;
    font-weight: bold;
    color:black
}
.btnp
{
    margin-top: 30px;
    	padding: 12px 20px;
	background: rgb(109, 122, 160);
	border: none;
	color: white;
	border-radius: 30px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
    margin-left: 150px;
}
.btn-postuler
{
    padding: 12px 20px;
	background: #e8adf0;
	border: none;
	color: white;
	border-radius: 30px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
}